:root 
body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(245, 207, 237);
}

header {
    padding: 10px 100px;
    background-color: rgb(188, 150, 225);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.images {
    position: absolute;
    top: 75px;
    border-radius: 750px;
    right: 40px;
    height: 350px;
    width: 300px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    margin: 0 10px;
    font-weight: bolder;
    font-size: 22px;
    text-decoration-line: underline;
    border-bottom: 1px dotted;
}

.about {
    display: f;
    flex-wrap: wr;
    justify-content: space-evenly;
    margin: 75px 80px;
    width: 50%;
    align-items: center;

}
.title-1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: salmon;
    margin: 50px;
}

.images-1 {
    flex-wrap: wrap;
    width: 500px;
    height: 500px; 
}
 .photo-2 {
    height: 200px;
    width: 200px;
 } 

 #My-Work {
    
 }