:root 
body {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(245, 207, 237);
}

header {
    padding: 10px 100px;
    background-color: rgb(188, 150, 225);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.images {
    position: float;
    top: 75px;
    border-radius: 750px;
    right: 40px;
    height: 350px;
    width: 300px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


header nav ul li a {
    margin: 0 10px;
    font-weight: bolder;
    font-size: 22px;
    text-decoration-line: underline;
    border-bottom: 1px dotted;
}

.about {
    display: f;
    flex-wrap: wr;
    justify-content: space-evenly;
    margin: 500px 500px;
    width: 500px;
    align-items: center;

}
.title-1 {
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: salmon;
    margin-top: 700px;
}

.images-1 {
    flex-wrap: wrap;
    width: 300px;
    height: 500px; 
}
 .photo-2 {
    height: 500px;
    width: 700px;
    margin-bottom: 50px;
 } 
 .photo-1 {
    margin-top: 25px;
    height: 250px;
    width: 600px;

 }

.title-3 {
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: salmon;
}
  
.title-2 {
    margin-top: 250px;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: salmon;

}

p {
    font-family: fantasy;
}
